/* CSS Document */
#menu{
	float:left;
	max-width:70px;
	min-width:45px;
	
}

#menu ul{
	margin:0;
	padding:0;
}

ul.top-level {}
ul.top-level li {
	margin:10px;
 
}

#menu a {
 font-family:Arial, Helvetica, sans-serif;
 cursor: pointer;
 display:block;
 width:100%;
 font-size:12px;
 color:#999;
 margin-top:10px;
 margin-left:10px;
}

#menu a:link{
	color:#000;
}

#menu a:visited{
	color:#000;
}
#menu a:hover{
	color:#777;
 
}

#menu a:active{
	color:#000;
}


#menu li:hover {
 
}

ul.sub-level1, .sub-level2, .sub-level3, .sub-level4, .sub-level5{
    display: none;
}
.sub-level1, .sub-level2, .sub-level3, .sub-level4, .sub-level5{
	background:#FFF;
}
li:hover .sub-level1{
    border-width: 1px;
    display: block;
    position: absolute;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	left: 78px;
    top: 140px;
	width:200px;
	z-index:3000;
	
	
}

#menu .sub-level1 .sub-level1-1 {
	
    background: #FFF;
	border-width: 1px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	z-index:4000;
	margin-left:30px;
}

li:hover .sub-level2{
	border-width: 1px;
    display: block;
    position: absolute;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	left: 70px;
    top: 230px;
	width:200px;
	z-index:3000;
}

li:hover .sub-level3{
	border-width: 1px;
    display: block;
    position: absolute;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	left: 80px;
    top: 350px;
	width:200px;
	z-index:3000;
}

li:hover .sub-level4{
	border-width: 1px;
    display: block;
    position: absolute;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	left: 80px;
    top: 450px;
	width:200px;
	z-index:3000;
}

li:hover .sub-level5{
	border-width: 1px;
    display: block;
    position: absolute;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	left: 80px;
    top: 510px;
	width:200px;
	z-index:3000;
}

#menu .sub-level2 .sub-level2-1 {
	
    background: #FFF;
	border-width: 1px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	z-index:4000;
	margin-left:30px;
}

li:hover .sub-level1 .sub-level1-1 {
	display:none;
	z-index:3000;
}
.sub-level1 li:hover .sub-level1-1 {
	display:block;
	z-index:3000;
}
li:hover .sub-level2 .sub-level2-1 {
	display:none;
	z-index:3000;
}
.sub-level2 li:hover .sub-level2-1 {
	display:block;
	z-index:3000;
}
li:hover .sub-level2 .sub-level2-1{
	display:none;
	z-index:3000;
}
.sub-level2 li:hover .sub-level2-1 {
	display:block;
	z-index:3000;
}


#menu .sub-level4 .sub-level4-1 {
    background: #FFF;
	border-width: 1px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	z-index:3000;
	margin-left:30px;
}

li:hover .sub-level4 .sub-level4-1 {
	display:none;
	z-index:3000;
}
.sub-level4 li:hover .sub-level4-1 {
	display:block;
	z-index:3000;
}
li:hover .sub-level4 .sub-level4-1{
	display:none;
	z-index:3000;
}
.sub-level4 li:hover .sub-level4-1 {
	display:block;
	z-index:3000;
}

.top-level li img{
	margin-bottom:30px;
}




#menu .sub-level5 .sub-level5-1 {
    background: #FFF;
	border-width: 1px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	z-index:3000;
	margin-left:30px;
}

li:hover .sub-level5 .sub-level5-1 {
	display:none;
	z-index:3000;
}
.sub-level5 li:hover .sub-level5-1 {
	display:block;
	z-index:3000;
}
li:hover .sub-level5 .sub-level5-1{
	display:none;
	z-index:3000;
}
.sub-level5 li:hover .sub-level5-1 {
	display:block;
	z-index:3000;
}


#menu .sub-level3 .sub-level3-1 {
    background: #FFF;
	border-width: 1px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
	z-index:3000;
	margin-left:30px;
}

li:hover .sub-level3 .sub-level3-1 {
	display:none;
	z-index:3000;
}
.sub-level3 li:hover .sub-level5-1 {
	display:block;
	z-index:3000;
}
li:hover .sub-level3 .sub-level3-1{
	display:none;
	z-index:3000;
}
.sub-level3 li:hover .sub-level3-1 {
	display:block;
	z-index:3000;
}

