/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/*==========================================================================
	import tooltip
  =========================================================================*/
@import url('tooltip.css');

/*==========================================================================
	mensajes
  =========================================================================*/

@import url('mensajes.css');

/*==========================================================================
	tablas de incidencias y bienvenidas
  =========================================================================*/
 @import url('tabla_incidente_cliente.css'); 
 



/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none ; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

/* webkit, opera, IE9 */
::selection { background:lightblue; }
/* mozilla firefox */
::-moz-selection { background:lightblue; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
/*a:visited { color: #06e; }*/
a:hover { color: #06e; }
a:focus { outline: thin dotted; }


/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between ../../images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0 !important; }
fieldset { border: 0 !important; margin: 0 !important; padding: 0 !important; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */.

button, input, select, textarea { 
	font-size: 100%; 
	margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal !important; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], freset"], input[type="submit"] { 
	-webkit-border-radius: 2px 2px;

}
/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { 
cursor: default !important; 
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box !important; padding: 0 !important; *width: 13px !important; *height: 13px !important; }
input[type="search"] { -webkit-appearance: textfield !important; -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none !important; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
/*input:valid, textarea:valid { height: 20px; }*/
input:invalid, textarea:invalid { background-color: #fde0dc;border-color: #f69988 !important; border-width: 1px;}


/* =============================================================================
   Tables
   ========================================================================== */

content-on-blank-table{
	
}

.table_incidente{
	width:954px;
	margin:10px 10px 10px 10px;
}


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================


	
	Author		
	
  	

   ========================================================================== */

/*
====================================
	STRUCTURE SOLID
==================================== */

.panel-head{
	float: left;
}
.btn-crear{
	float: right;
	margin-top: 15px;
}

/*reset*/
*{
	margin:0;
	padding:0;
}

/*Estilos basicos*/
body{
	background:#f1f1f1 !important;
    font-family: arial,sans-serif;
    font-size: 12pt;
    height: 100%;
	
}

h1{

	font-size:26px;
	line-height:126%;
	font-style:normal;
	font-weight:normal;
	margin-bottom:10px;
	text-align:left;
}


h2{

	font-size:14px;
	line-height:110%;
	margin-bottom:10px;
	text-align:left;
	text-transform:uppercase;

}


h3{

	font-size:12px;
	line-height:110%;
	color:#fff;
	margin-bottom:2px;
	text-align:left;
	text-transform:uppercase;

}


a{
	color: #3366CC;
	text-decoration:none;
	color:#000;
	font-weight:bold;

}


img{
	
	border:none;
}


.quitar{
	list-style:none;
}

#header, #content,  #footer{
	left:0;
}

/*limpiar*/
.clear{
	clear:both;
}

/*Estilos de caja*/

/*Estilo header*/
#header{
	min-width: 980px;
	background:url(../images/header.png) repeat-x;
	
}

.head-0{
     width: 100%;
	 height:87px;
}


.wrap{
	width:960px;
	margin:0 auto;
}

#menu_arriba{
	width:1200px;
}

.user-name{
	float:right;
	margin-right:20px;
	width:180px;
	margin-top:10px;
	height:30px;
	background-color:#4c84b2;
	
}
#name{
	float:left;
	margin-left:10px;
	padding-top:4px;
	padding-bottom:2PX;
	color:#FFF;
	font-size:14px;
	
}

.izq{
	
	position:relative;
	left:36px;
	
}

.users-online{
	float:right;
	margin-top:10px;
	width:100px;	
}
/*online*/


/*contenido*/
#content{

	
}

/*Estilos menu*/

/*#menu{
	float:left;
	width:70px;
}
*/
/*contenido blanco*/  
#content-main{
	float:left;
	background:#FFF;
	border:1px solid #D7D7D7;
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
	border-radius:8px;
	behavior:url(./scripts/PIE.htc); /*bordes redeondeados en Internet explorer 6,7,8*/  
	margin-left:10px;
}

#content-main2{
	float:left;
	background:#FFF;
	border:1px solid #D7D7D7;
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
	border-radius:8px;
	behavior:url(./scripts/PIE.htc); /*bordes redeondeados en Internet explorer 6,7,8*/  
	margin-left:10px;
	width:1000px;
	height:500px;
}

#content-main3{
	float:left;
	background:#FFF;
	border:1px solid #D7D7D7;
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
	border-radius:8px;
	behavior:url(./scripts/PIE.htc); /*bordes redeondeados en Internet explorer 6,7,8*/  
	margin-left:10px;
	width:1300px;
}

#content-main4{
	float:left;
	background:#FFF;
	border:1px solid #D7D7D7;
	-webkit-border-radius:8px;
    -moz-border-radius:8px;
	border-radius:8px;
	behavior:url(./scripts/PIE.htc); /*bordes redeondeados en Internet explorer 6,7,8*/  
	width:1000px;
}

.title-cliente{
	width:100%;
	padding-top:20px;
	padding-bottom:10px;
	border-bottom:2px solid #F1F1F1;
}

.title-cliente span{
	margin-left:10px;
}

.content-on-blank{
	width:100%;
	
}

/*footer*/
#footer {
	position: absolute;
	left: 0;
	width: 100%;
}

#footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
}


/*formularios*/
.top-form{
	margin-top:30px;
}

.fondo-form{
	float:left;
	width:940px;
	background:#F1F1F1;
	border:2px solid #D7D7D7;
	-webkit-border-radius:5px;
        -moz-border-radius:5px;
	border-radius:5px;
	behavior:url(./scripts/PIE.htc);
	margin:5px 10px 0px 10px;
}

.editor{
	float:left;
	width:860px;
	height: 300px;
	margin-top:20px;
	margin-left: 40px;
	
}

.formulario{
	float:left;
	font-size:14px;
	
}

.formulario select, input{
	margin:10px 0 5px 10px;
}

.label{
	margin:10px 0px 0px 10px;
}

.label-f{
	margin:3px 0px 0px 10px;
}

.label-n{
	margin:10px 0px 0px 10px;
}

.label-c{
	margin:5px 0px 5px 425px;
}

.etiqueta-f{
	font-family:Arial, Helvetica, sans-serif;
	background:#999999;
	color:#fff;
	font-size:14px;
}

.etiqueta-n{
	font-family:Arial, Helvetica, sans-serif;
	background:#999999;
	color:#fff;
	font-size:14px;
	
}

.parf-f{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}


.formulario select{
   
   padding:5px;
   font-size:16px;
   border:1px solid #ccc;
   height:30px;	
   width:300px;

}

.formulario input{
	margin-top:8px;
	height:30px;
	width:300px;
}

.formulario .input-media{
	
	height:30px;
	width:250px;
}

.formulario .input-peque{
	height:30px;
	width:100px;
}


.form-l{
	float:left;
	
}

.form-l .asunto{
	height:28px;
	width:400px;
}


.espacio{
	margin-top:10px;
}

.form-r{
	float:right;
	margin-right:40px;
}

.form-title{
	margin:0 auto;
	width:300px;
	padding-top:12px;
}

.form-center{
	margin-left:200px;
	width:300px;
	margin-top:20px;
	margin-bottom:20px;
}

.boton-export{
	border: 1px solid #D7D7D7;
	background:#4C84B2;
	color:#fff;
	width:60px;
	height:30px;
	cursor:pointer;
}

.user-admin{
	float:left;
	margin-top:4px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
}

.ingeniero{
	width:250px;
	height:30px;
	background-color:#4c84b2;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:5px;	
}

/*css para el contenedor de las estadisticas*/
div#container{
	width: 600px;
	margin-left:60px;
}

/*tabla*/


/*Mensajes*/

.error_txtarea{
	background-color: #BC1010;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	margin-left: 16px;
	margin-top: 6px;
	position: absolute;
}
.error_txtarea:before{
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

#mensaje{
	
	position: absolute;
	top:  1000px; 
        left: 400px;
}
